<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="common.css?v=1.1">
    <title>数据字典</title>
    <style type="text/css">
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
<noscript></noscript>
<div><a href="/code">生成代码</a></div>
<br/>
<br/>
<div>
    <strong id="tips"></strong>
</div>
<br/>
<br/>
<div>
    <em>数据库url：</em>
    <span th:text="${dbUrl}"></span>
</div>
<br/>
<br/>
<div>
    <em>目标文档目录：</em>
    <label>
        <input type="text" name="targetDir" th:value="${targetDir}"/>
    </label>
</div>
<br/>
<div>
    <em>自动打开目录：</em>
    <label>
        <input type="radio" name="openDir" value="true" th:checked="${openDir}">是&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="openDir" value="false" th:checked="!${openDir}">否&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
</div>
<br/>
<div>
    <em>文档后缀：</em>
    <label>
        <input type="radio" name="suffix" value="html" th:checked="${suffix == 'html'}">html&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="suffix" value="doc" th:checked="${suffix == 'doc'}"/>doc&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="suffix" value="md" th:checked="${suffix == 'md'}"/>md&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
</div>
<br/>
<div>
    <em>描述：</em>
    <label>
        <input type="text" name="description" th:value="${description}"/>
    </label>
</div>
<br/>
<div>
    <em>版本号：</em>
    <label>
        <input type="text" name="version" th:value="${version}"/>
    </label>
</div>
<br/>
<div>
    <em>表名：</em>
    <label th:each="tableName : ${tableNames}">
        <input type="checkbox" name="tableName[]" th:value="${tableName}"/>
        <span th:text="${tableName}"></span>
    </label>
</div>
<br/>
<div>
    <em></em>
    <label>
        <input type="button" value="生成数据字典" onclick="return onSubmit()"/>
    </label>
</div>
<script type="text/javascript" src="common.js?v=1.1"></script>
<script type="text/javascript">
    function onSubmit() {
        let targetDir = FormElement.$("text", "targetDir").value;
        let openDir = FormElement.getCheckedValue("radio", "openDir");
        let suffix = FormElement.getCheckedValue("radio", "suffix");
        let description = FormElement.$("text", "description").value;
        let version = FormElement.$("text", "version").value;
        let tableNames = FormElement.getCheckedValue("checkbox", "tableName[]");

        let data = {
            targetDir: targetDir,
            openDir: openDir[0],
            suffix: suffix[0],
            description: description,
            version: version,
            tableNames: tableNames
        };

        Common.id("tips").innerText = "";

        Ajax.post({
            url: "/dict/execute",
            data: data,
            success: function (data) {
                if (data === true) {
                    Common.id("tips").innerText = "Success";
                } else {
                    Common.id("tips").innerText = "Failure";
                }
            },
            error: function (code, message) {
                Common.id("tips").innerText = message;
            }
        });
    }
</script>
</body>
</html>
